= @board.name
= link_to("input todays finished point", new_board_finished_point_path(board_id: @board.id))
= link_to("update total point", edit_board_total_point_path)
= link_to("task_cards_list", board_cards_path(@board.id))

<canvas id="myChart" width="900" height="400"></canvas>
:javascript
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: #{@label_of_day},
          datasets: [{
              label: "finished points",
              data: #{@finished_points},
              backgroundColor: 'rgba(255, 99, 132, 1.0)',
              borderColor: 'rgba(255, 50, 132, 1.0)',
              fill: false
          },
          {
              label: "all task pointss",
              data: #{@total_points},
              type: 'line',
              backgroundColor: 'rgba(255, 99, 132, 1.0)',
              borderColor: 'rgba(255, 50, 132, 1.0)',
              fill: false
          }]
      },
      options: {
          title:  {
            display: true,
            text: "タイトル"
          }
      }
  });
